<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Sign In & Up</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta https-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="../js/index.js"></script>
</head>

<body ng-controller="DataControler">
	<fieldset>
        <legend>Login Status</legend>
        <div id="login">
            <a href="../login.html">Sign in/Sign up</a>
        </div>
        <div id="logout">
            <a href="#" onclick="clearCache()">Log Out</a>
        </div>            
        <div id="greeting">
            <a>Hello, 
            <script type="text/javascript">
                document.write(localStorage.getItem("username"));
            </script></a>
        </div>             
    </fieldset><br />
    
    <fieldset>
        <legend>Book Searching</legend>
        <input type="text" name="isbn" id="isbn" placeholder="Input ISBN here..." required>
    	<input type="submit" value="Search" id="search">
    	<div id="searchResult">
    		<h3>Title: {{title}}</h3>
    		<h3>Subtitle: {{subtitle}}</h3>
    		<h3>Authors: {{authors}}</h3>
    		<h3>Publisher: {{publisher}}</h3>
    		<h3>Published Date: {{publishedDate}}</h3>
    	</div>
    	<input type="text" name="comment" id="comment" placeholder="Input comment here..." required>
    	<input type="button" value="Add to Book List" id="bookmark">
    </fieldset><br />
 
 
 
 
 
    
    <fieldset>
        <legend>Favorite Book List</legend>
        <div id="repeatData">
        	<div ng-repeat="bookmark in bookmarks">
            	<h4>ISBN: <a href="#" ng-click="getMore(bookmark[0])">{{bookmark[0]}}</a>; My Comment: {{bookmark[1]}}</h4>
        	</div>
        </div>
        <div id="ept"><h3>Empty!</h3></div>
        <div id="alt"><h3>Login First!</h3></div>
        <br /><input type="button" value="Clear Book List" id="clearBookList">
    </fieldset><br />






    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
        if (localStorage.getItem("username") == null) {
            $('#login').show();
            $('#logout').hide();
            $('#greeting').hide();
        }
        else {
            $('#logout').show();
            $('#greeting').show();
            $('#login').hide();
        }
        function clearCache() {
            // Clear storage
            localStorage.clear();
            $('#login').show();
            $('#logout').hide();
            $('#greeting').hide();
            window.location.href = "../index.html";
        }
    </script>
</body>

</html>
